#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

.map {
    width: 100%;
    height: 400px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.ol-popup-closer:after:hover {
    color: red;
}

#popup a:link {
    text-decoration: none;
}

#draggable-header a:link {
    text-decoration: none;
}

#legend-header a:link {
    text-decoration: none;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

#draggable {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: left;
    top: 70px;
    left: 70px;
    display: none;
}

#draggable-header {
    padding: 1px;
    cursor: move;
    z-index: 10;
    background-color: #000000;
    color: #fff;
}

#legendDrag {
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    text-align: left;
    height: 375px;
    top: 330px;
    left: 7px;
    overflow-y: scroll;
    display: none;
}

#legend-header {
    padding: 1px;
    cursor: move;
    z-index: 10;
    background-color: #000000;
    color: #fff;
}

#drop_zone {
    border: 5px solid green;
    width: 200px;
    height: 100px;
}

#dropDrag {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: left;
    top: 70px;
    display: none;
    left: 70px;
    width: 400px;
    border-radius: 4px;
}

#dropDrag-content {
    padding: 4px;
}

#myForm {
    padding: 4px;
    align-items: center;
    text-align: center;
}

.inputFile {
    width: 370px;
    border-color: aqua;
    margin-bottom: 10px;
}

.inputFile:hover {
    background-color: rgb(236, 244, 244);
}

.buttonFile {
    border-color: #28A745;
}

.buttonFile:hover {
    background-color: #28A745;
    color: #ffffff;
    border-color: #28A745;
}

#dropDrag-header {
    padding: 1px;
    cursor: move;
    z-index: 10;
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

#reportDrag {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: left;
    top: 70px;
    left: 70px;
    display: none;
}

#reportDrag-header {
    padding: 1px;
    cursor: move;
    z-index: 10;
    background-color: #000000;
    color: #fff;
}

.reporte {
    overflow-x: hidden;
    overflow-y: auto;
}

.box {
    width: 75%;
    position: absolute;
    top: 5;
    left: 10;
    opacity: 0;
    /* for demo purpose  */
}

.stack-top {
    z-index: 9;
    margin: 20px;
    /* for demo purpose  */
}